<!DOCTYPE html>
<html lang="en">

<head>
  <title>Organic</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="/css/main.css" />
  <meta charset="UTF-8">
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
</head>

<body>

  <% include header.ejs %>
  <% include user-navigation.ejs %>
  <% include site-navigation.ejs %>

<div class="content">
<h3>About Us</h3>
<h4>Story</h4>
<p>The national organic standards address the methods, practices and substances used in producing and handling crops, livestock and processed agricultural products. The standards specify that, in general, all natural (non-synthetic) substances are allowed in organic production and all synthetic substances are prohibited. The National List of Allowed Synthetic and Prohibited Non-Synthetic Substances contains specific exceptions to the rule. This summary is from the USDA National Organic Program (NOP).</p>
<h4>Our Standards</h4>
<p>Land will have no prohibited substances applied to it for at least 3 years before the harvest of an organic crop. Use of genetic engineering, ionizing radiation and sewage sludge is prohibited. Soil fertility and crop nutrients will be managed through tillage and cultivation practices, crop rotations, and cover crops, supplemented with animal and crop waste materials and allowed synthetic materials. </p>
<p>Preference will be given to the use of organic seeds and other planting stock.
Crop pests, weeds, and diseases will be controlled primarily through management practices including physical, mechanical, and biological controls. When these practices are not sufficient, a biological, botanical, or synthetic substance approved for use on the National List may be used.</p>
<p>The organic livestock standards, which apply to animals used for meat, milk, eggs, and other animal products, specify:

Animals for slaughter must be raised under organic management from the last third of gestation, or no later than the second day of life for poultry.
Producers are required to give livestock agricultural feed products that are 100 percent organic, but may also provide allowed vitamin and mineral supplements.
Organically raised animals may not be given hormones to promote growth, or antibiotics for any reason. Preventive management practices, including the use of vaccines, will be used to keep animals healthy.
Producers are prohibited from withholding treatment from a sick or injured animal; however, animals treated with a prohibited medication may not be sold as organic. </p>
</div>

  <% include footer.ejs %>


</body>

</html>
