<!DOCTYPE html>
<html lang="en">

<head>
  <title>Organic</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="/css/main.css" />
  <meta charset="UTF-8">
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
</head>

<body>

  <% include header.ejs %>
  <% include user-navigation.ejs %>
  <% include site-navigation.ejs %>

<div class="content">
<h3>Feedback</h3>
<div class="padding-h2">
  <img class="item-image" src="images/rice.jpg" alt="logo">
  <h2>Ambemohar Rice</h2>
  <div class="rating">
    <h6>Your rating:</h6>
    <div class="rating-class">
<span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
</div>
    <select>
  <option value="star1">1 Star</option>
  <option value="star2">2 Stars</option>
  <option value="star3">3 Stars</option>
  <option value="star4">4 Stars</option>
  <option value="star5">5 Stars</option>
</select>
    <!-- <select>
  <option value="1 Star"><span class="star-colored"></option>
  <option value="2 Stars"><span class="star-colored"><span class="star-colored"></option>
  <option value="3 Stars"><span class="star-colored"><span class="star-colored"><span class="star-colored"></option>
  <option value="4 Stars"><span class="star-colored"><span class="star-colored"><span class="star-colored"><span class="star-colored"></option>
  <option value=" Stars"><span class="star-colored"><span class="star-colored"><span class="star-colored"><span class="star-colored"><span class="star-colored"></option>
</select> -->
    <!-- <span class="star-colored"> &#9733;</span><span class="star-colored">&#9733;</span><span class="star-colored">&#9733;</span><span class="star">&#9734;</span> -->
  </div>
  <div class="button"><a href="#">Add to cart</a></div>
  <div class="button"><a href="myitems.html">Save for later</a></div>
</div>

<p class="full-width">Single polish means that this rice has been polished only once (generally, most of the rice in the market is polished 2-3 times). Ambe-mohar literally means “Mango blossom”. This is a fragrant, oval grained, non-hybrid,
  tall-growing rice variety cultivated in Western Maharashtra</p>
<p class="full-width">t is now rare to find farmers who grow Ambemohar regularly. Since the production cost is high, the retail cost in turn has to be high. So, retailers in Maharashtra, pass off lookalikes as original Ambemohar to gain higher
  profit margins. This has further discouraged the production of Ambemohar, since the farmers can earn more profit themselves by growing lookalikes. Jeera Sambhar rice from Andhra Pradesh and Jawaful from Madhya Pradesh are the most popular
  lookalikes sold by retailers.</p>

</div>

  <% include footer.ejs %>


</body>

</html>
