<div class="header">
  <!-- <a href="#"><img src="/images/logo.png" alt="Logo" width="70"></a>
    E-ORGANIKS -->
    <h6 class="right-margin">
    <!-- <a href="#"><img src="/images/logo.png" alt="Logo" width="70">E-ORGANIKS</a> -->
    <div class="center-text"><a href="#"><img src="/images/logo.png" alt="Logo" align="middle" width="70"> E-organiks</a></div>
    <div class="right-text">Welcome Dude</div>
    <div style="clear: left;"/>
  </h6>

</div>
