<!DOCTYPE html>
<html lang="en">

<head>
  <title>Organic</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="/css/main.css" />
  <meta charset="UTF-8">
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
</head>

<body>

  <% include header.ejs %>
  <% include user-navigation.ejs %>
  <% include site-navigation.ejs %>

<div class="content">
<h3>Home</h3>
<p>Organic food is food produced by methods that comply with the standards of organic farming. Standards vary worldwide, but organic farming, in general, features practices that cycle resources, promote ecological balance, and conserve biodiversity. Organizations regulating organic products may restrict the use of certain pesticides and fertilizers in the farming methods used to produce such products. In general, organic foods are also usually not processed using irradiation, industrial solvents, or synthetic food additives.</p>

<p>In the 21st century, the European Union, the United States, Canada, Mexico, Japan, and many other countries require producers to obtain special certification in order to market their food as organic within their borders. In the context of these regulations, organic food is produced in a way that complies with the organic standards set by regional organizations, national governments, and/or international organizations. Although the produce of kitchen gardens may actually be organic, selling food with an organic label is regulated by governmental food safety authorities, such as the US Department of Agriculture (USDA) or European Commission (EC).</p>


</div>

  <% include footer.ejs %>


</body>
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
</html>
