
  <div class="sidenav">
    <a class="a-side_nav" href="/">Home</a>
    <a class="a-side_nav" href="/categories">Categories</a>
    <a class="a-side_nav" href="#">Store</a>
    <a class="a-side_nav" href="/about">About</a>
    <a class="a-side_nav" href="/contact">Contact Us</a>
    <a class="a-side_nav" href="/feedback">Feedback</a>
  </div>
